.countries {
   &Container {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #6b5454;
      border-radius: 12px;
      color: #fff;
      overflow-y: auto;
      max-height: 100vh;
      padding: 15px;
   }

   &List {
      padding: 10px 0;

      li {
         list-style-type: none;
         margin-bottom: 5px;
      }
   }
}

.notFoundCountry {
   color: #fff;
   text-decoration: underline;
   cursor: pointer;
}
.foundCountry {
   color: rgb(47, 216, 47);
}