.countries {
   &Container {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 0;
   }

   &List {
      background-color: #6b5454;
      border-radius: 12px;
      color: #fff;
      overflow-y: auto;
      max-height: calc(100vh - 10px);
      padding: 7.5px;

      li {
         list-style-type: none;
         margin-bottom: 5px;
      }
   }
}