.container {
   display: flex;
   position: relative;

   .controls {
      position: absolute;
      top: 50%;
      left: 2%;
      z-index: 1;

      .controlButton {
         font-size: 1rem;
         padding: 15px;
         border-radius: 16px;
         border-width: 1px;
         cursor: pointer;

         &:hover {
            font-weight: bold;
         }
      }
   }
   
   .svg {
      width: 100%;
      height: 100vh;
      display: block;
   }

   .form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      &Input {
         padding: 2.5px 10px;
         border-radius: 6px;
      }

      &Button {
         border-radius: 6px;
         position: relative;
         left: 50%;
         transform: translateX(-50%);
         width: clamp(100px, 50%, 250px);
         height: 24px;
         cursor: pointer;
      }

      .success {
         color: rgb(20, 44, 20);
         text-align: center;
      }
      .error {
         color: #ff0000;
         text-align: center;
      }
   }
}